<app-menu></app-menu>
<body>
    <h1 class="welcome-text">¡Bienvenida, <br> {{ userName }}!</h1>
    <div class="main-text">
        <div class="maintexto-texto">
            <div class="texts">
                <h1>Nos alegra que te encuentres feliz, recuerda que este es un espacio seguro y estamos para ayudarte</h1>
                <br>
                <br>
                <h1 class="h12">“Eres más fuerte de lo que piensas y más valiente de lo que crees”</h1>
            </div>
        </div>
    </div>
</body>