<app-menu-abog/>
<div class="container">
    <form [formGroup]="sesionForm" (ngSubmit)="registrarsesion()">
      <div class="ladoizquierdo">
        <mat-form-field appearance="outline">
          <mat-label>Título</mat-label>
          <input matInput formControlName="titulo" required />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="descripcion" required></textarea>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
  
      <div class="ladoderecho">
        <mat-form-field appearance="outline">
          <mat-label>Hora Inicio</mat-label>
          <textarea matInput formControlName="hora_inicio" required></textarea>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Hora Fin</mat-label>
          <textarea matInput formControlName="hora_fin" required></textarea>
        </mat-form-field>
  
        <button mat-raised-button color="accent" type="submit" [disabled]="sesionForm.invalid">
          Registrar
        </button>
      </div>    
    </form>
  </div>
  