<app-menu></app-menu>
<body>
  <div class="container">
    <form [formGroup]="peticionForm" (ngSubmit)="registrarPeticion()">
      <div class="ladoizquierdo">
        <mat-form-field appearance="outline">
          <mat-label>Título</mat-label>
          <input matInput formControlName="titulo" required />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="descripcion" required></textarea>
        </mat-form-field>
      </div>
      <div class="ladoderecho">
        <mat-form-field appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipo" required>
            <mat-option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <button mat-raised-button color="accent" type="submit" [disabled]="peticionForm.invalid">Enviar</button>
      </div>    
    </form>
  </div>
</body>

  