<mat-toolbar class="blue-toolbar">
    <a [routerLink]="['/abogadoHome']" style="text-decoration: none; color: inherit;">
        <span>Amparo</span>
    </a>
    <span class="spacer"></span>
    
    <button mat-button [matMenuTriggerFor]="menupeticion">Peticiones</button>
    <mat-menu mat-menu #menupeticion="matMenu">
        <button mat-menu-item [routerLink]="['/peticionesAbog']">Historial Peticiones</button>
        <button mat-menu-item [routerLink]="['/abogPeticionesCaso']">Mis Casos</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menusesiones">Sesiones</button>
    <mat-menu mat-menu #menusesiones="matMenu">
        <button mat-menu-item [routerLink]="['/listarSesionAbog']">Mis Sesiones</button>
        <button mat-menu-item [routerLink]="['/historialSesionesabog']">Historial Sesiones</button>
    </mat-menu>

    <button mat-button [routerLink]="['/ForoAbogados']" class="custom-button">
        Foros
    </button>    
    

    <button mat-button [routerLink]="['/victimasAbog']" class="custom-button">
        Victimas
    </button>

    <button mat-flat-button>Boton de Emergencia</button>

    <button mat-icon-button [routerLink]="['/perfilAbogado']">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
