<mat-toolbar class="blue-toolbar">
    <span>Amparo</span>
    <span class="spacer"></span>
    <a (click)="scrollToFragment('whoweare')">Nosotros</a>
    <a (click)="scrollToFragment('colaboradores')">Colaboradores</a>
    <a (click)="scrollToFragment('contactanos')">Contacto</a>
    <button mat-flat-button>Boton de Emergencia</button>
    <button mat-flat-button [routerLink]="['/inicioV']">Sign in</button>
</mat-toolbar>


<section class="apoyo" id="apoyo">
    <div class="apoyo-content container">
        <h1>Apoyo que
            transforma: para mujeres  <span class="higlightapoyo">fuertes</span> y <span class="higlightapoyo">valientes</span>
        </h1>
        <p>
            Forma parte de un espacio seguro y 
            empoderador. Únete y da el primer paso
            hacia un nuevo comienzo.
        </p>
        <button mat-flat-button [routerLink]="['/inicioV']">Unirme</button>
    </div>  
    <img src="assets/mapa.png" class="imgmapa">
</section>


<main class="whoweare" id="whoweare">
    <div class="whoweare-content container">
        <img src="assets/quienessomos.jpeg" class="imgquienesomos">
        <div class="whowearetext">
            <h2>¿Quienes Somos?</h2>
            <br>
            <br>
            <p class="txt-p"> 
                Somos una plataforma dedicada al apoyo y empoderamiento de <span class="highlight">víctimas de violencia de género.</span > Nuestro compromiso es brindar un espacio <span>seguro, accesible y confidencial,</span> donde puedas encontrar asistencia legal y psicológica, acceso a líneas de emergencia y una red segura de refugios. 
                <br>
                <br>
                Utilizamos tecnología de encriptación avanzada para proteger la privacidad de nuestros usuarios, ofreciendo un espacio donde puedas sentirte escuchada, apoyada y acompañada en tu camino hacia una vida <span class="highlight">libre de violencia.</span>
            </p>
        </div>
    </div>
</main>


<section class="colaboradores" id="colaboradores">
    <div class="colaboradores-content container">
        <div class="colaboradores-text">
            <h2>Colaboradores</h2>
            <h3>Forma parte de nuestra red de apoyo!</h3>
        </div>
        
        <div class="colaboradores-group">
            <div class="colab-1">
                <h3>Psicologos</h3>
                <img src="assets/c1.jpeg" class="colaboradoresimg">
                <p>Consejeria y <br>apoyo emocional</p>
                <button mat-flat-button [routerLink]="['/inicioPs']">Unirse</button>
            </div>
            <div class="colab-2">
                <h3>Abogados</h3>
                <img src="assets/c2.jpeg" class="colaboradoresimg">
                <p>Asesoría y <br>apoyo legal</p>
                <button mat-flat-button [routerLink]="['/inicioAb']">Unirse</button>
            </div>
        </div>
    </div>
</section>


<section class="contactanos" id="contactanos">
    <div class="contactanos-content container">
        <div class="contactanos-texto">
            <h2>Contáctanos</h2>
            <h3>Apoyo y Soporte a nuestros usuarios</h3>
        </div>
        <div class="contactanos-group">
            <div class="contacatanos-cuadro">
                <textarea name="message" cols="40" rows="14" placeholder="Mensaje" class="textarea"></textarea>
                
            </div>
            <div class="iconos">
                <div class="contactanos-redes-group">
                    <a href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/?hl=es-es"><i class="fa-brands fa-square-instagram"></i></a>
                    
                </div>
                <div class="contactanos-redes-group2">
                    <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.tiktok.com/es/"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
            
        </div>
        
    </div>
</section>
<footer class="footer">
    <div class="footer-content container">
        <div class="lineasuperior">
            <div class="redeslink">
                <a href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/?hl=es-es"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.tiktok.com/es/"><i class="fa-brands fa-tiktok"></i></a>
            </div>
            <div class="llamanoslink">
                <p>Llámanos:
                    +51 962 789 345</p>
            </div>  
        </div>
        
        <div class="copylink"></div>
            <p>© 2024 Amparo Company. All rights reserved.</p>
        </div>
    
</footer>
